#navbar ul {
    width: 100%;
    overflow: hidden;
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #242424;
}

#navbar li {
    float: left;
    transition: 0.2s ease-in;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li:hover {
    background-color: #1b1b1b;
}